<div class="container text-center mt-5">
  <button 
    class="btn btn-primary btn-lg mx-2"
    (click)="value=1"
  > Boton 1</button>
  <button 
    class="btn btn-warning btn-lg mx-2"
    (click)="value=2"
  >Boton 2</button>
  <button 
    class="btn btn-danger btn-lg mx-2"
    (click)="value=3"
  >Boton 3</button>
</div>

<div class="container mt-3" [ngSwitch]="value">
   <p class="card card-body text-center" *ngSwitchCase="0">
    Boton 1  -  Boton 2   -  Boton 3
   </p>
   <p class="card card-body text-center" *ngSwitchCase="1">
    Boton 1
   </p>
   <p class="card card-body text-center" *ngSwitchCase="2">
    Boton 2
   </p>
   <p class="card card-body text-center" *ngSwitchDefault>
    Por default se presionó el Boton 3
   </p>
</div>